@import '~antd/dist/antd.css';

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.ant-layout {
  background: #f6f6f7;
}

.ant-table-small {
  border-radius: 0 !important;
}

.ant-typography-edit-content {
  left: 0 !important;
  width: 100%;
}