.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer;
  max-width: 250px;
  padding: 16px;
  border: 1px solid rgba(165, 165, 165, 0.5);
  border-radius: 8px;
}

.name {
  font-weight: bold;
}

.sourceType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90px;
  height: 24px;
  padding: 0 6px;
  font-weight: bold;
  border: 1px solid rgba(165, 165, 165, 0.5);
  border-radius: 8px;
}

.access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.selected {
  background-color: beige;
}

.icon {
  height: 14px;
  width: 14px;
}

.datasource {
  font-size: 10px;
}