.paragraph {
  display: inline-block;
  margin: 0 !important;
  max-width: 300px;
  min-width: 150px;
}

.paragraph :global(.ant-input) {
  height: 32px !important;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
}