.panelHeaderComponent {
  display: inline-block;
  padding-right: 10px;
  padding-left: 15px;
  outline: none !important;
}

.panel :global(.ant-collapse-header) {
  cursor: inherit !important;
  outline: none !important;
}

.panelNoPadding :global(.ant-collapse-content-box) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panelNoBorderBottom {
  border-bottom: none !important;
}

.steps :global(.ant-steps-item-active::before),
.steps:global(.ant-steps-navigation .ant-steps-item::before) {
  background-color: #1890ff !important;
  /* background-color: rgba(0, 0, 0, 0.07) !important; */
}

.steps :global(.ant-steps-item-active .ant-steps-item-icon) {
  border-color: #1890ff !important;
}

.steps :global(.ant-steps-item-active .ant-steps-item-title) {
  color: #1890ff !important;
  font-weight: 400;
}

.steps :global(.ant-steps-item-active .ant-steps-item-icon > .ant-steps-icon) {
  color: #1890ff !important;
  font-weight: 500;
}

.hidden {
  display: none;
}
