.root {
  width: 100%;
}

.panel {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  color: dimgray;
  width: 100%;
  /* padding: 2px 7px; */
  border: 0;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1px;
  background: #f6f6f7;
}

.panel :global(.ant-collapse-header) {
  background-color: #dde0e3;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 35px !important;
}

.panel :global(.anticon) {
  left: 13px !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel :global(.ant-collapse-item) {
  border: 0 !important;
}

.panel :global(.ant-collapse-content-box) {
  padding-bottom: 0 !important;
  padding-top: 5px !important;
}

.categorySection {
  background: #f6f6f7;
}

.categoryTitle {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 9px;
  font-weight: 700;
  color: dimgray;
  text-transform: uppercase;
  display: block;
}

.memberSection {
  padding-top: 2px;
  padding-bottom: 3px;
  overflow: hidden;
  margin-bottom: 0.3em !important;
}

.filterControls {
  padding-top: 5px;
  padding-bottom: 2px;

  padding: 20px !important;
}

.searchInput {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.buttonGroup {
  margin: 0 !important;
  display: flex !important;
  width: 100%;
  text-align: center;
}

.buttonGroup :global(.ant-radio-button-wrapper) {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.freeMembers {
  margin-top: 2px;
}
