.subSection {
  padding-bottom: 5px !important;
  font-size: 12px !important;
  background-color: transparent !important;
}

body .subSection :global(.ant-collapse-header) {
  padding: 0px !important;
  padding-left: 20px !important;
  color: rgba(0, 0, 0, 0.65) !important;
  background-color: transparent;
  height: 24px;
}

body .active :global(.ant-collapse-header) {
  background-color: #fff !important;
}

.subSection :global(.ant-collapse-arrow) {
  left: 0px !important;
}

.subSection :global(.ant-collapse-content-box) {
  padding: 0 !important;
  padding-left: 10px !important;
}

.subSection .panelSubSection :global(.anticon) {
  color: rgba(0, 0, 0, 0.55) !important;
  left: -2px !important;
}
