.filterTags {
  text-align: left;
  padding: 15px 30px;
  margin-top: -20px;
  margin-bottom: 3px;
  line-height: 28px;
  border-top: 1px solid #f6f6f7;
  border-bottom: 1px solid #f6f6f7;
}

.filterTags .header {
  line-height: 20px;
}

.filterTags .tag {
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
}
.filterTags :global(.ant-tag-checkable-checked),
.filterTags :global(.ant-tag-checkable):active {
  background-color: #1890ff;
  border: 1px solid #1890ff !important;
}
