.inputDate {
  display: inline-block;
}

.inputDate  {
  padding: 0;
}

.popoverOverlay {
  visibility: hidden;
}

.footerContainer {
  padding: 5px 0;
  line-height: 0;
}

.button {
  margin: 2px;
}
