.select {
  width: 70px;
  padding: 15px !important;
}

.select .antd-select-selection {
  background: none;
  border: none;
}

.select > div > div {
  margin: 0 !important;
  padding: 0 !important;
}

.select > div {
  height: 18px;
  border: none;
  background: none;
}

.select div:active,
.select div:focus {
  border: none !important;
  box-shadow: none !important;
}

.select > div > div {
  line-height: initial;
}

.select > div > div > div {
  line-height: initial;
  height: 18px;
}

.select span {
  right: 0;
  color: white;
}

.dropdown {
  width: auto !important;
  margin: 0;
  padding: 0;
}

.image {
  height: 18px;
  width: 26px;
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
}