.header,
.sider {
  background: #1F10B3 !important;
}

.logo {
  float: left;
  color: #fff !important;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.verticalLogo {
  float: none !important;
  justify-content: center;
  padding: 10px;
}

.sider :global(.ant-layout-sider-zero-width-trigger) {
  z-index: 100;
}

.header :global(.ant-menu-item),
.header :global(.ant-menu-submenu),
.header :global(.ant-menu-item-selected)
{
  background: #1F10B3 !important;
  color: #fff !important;
  border: 0 !important;
  top: 0 !important;
}

.header a,
.header :global(.ant-menu-submenu-title)
{
  color: #fff !important;
}

.header :global(.ant-menu-item-selected) {
  filter: brightness(125%);
}

.header :global(.ant-menu-item:hover) {
  filter: brightness(110%);
}

.hidden { 
  display: none;
}

.sider :global(.ant-layout-sider-zero-width-trigger) {
  background: #1F10B3 !important;
  top: 0;
}
