.modalContainer,
.modalContainer :global(.ant-modal-body) {
  padding: 0;
}

.container {
  padding: 24px;
}

.pageHeader:global(.ant-page-header) {
  padding: 0;
  font-size: 18px;
  line-height: 1.1;
}

.pageHeader :global(.ant-page-header-heading-title) {
  font-size: inherit;
}

.tabsContainer > :global(.ant-tabs-bar) {
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.tabsContainer > :global(.ant-tabs-content) {
  background: #f0f2f5;
  padding: 24px;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
}