.formItem {
  margin-bottom: 0 !important;
  padding-bottom: 10px !important;
}

.formItem :global(.ant-form-item-label) {
  line-height: 16px;
}

.collapse {
  cursor: pointer !important;
}

.collapse :global(.ant-collapse-header) {
  padding: 5px 20px !important;
  color: rgba(0, 0, 0, 0.45) !important;
  /* color: #1890ff !important; */
}

.collapse :global(.ant-collapse-arrow) {
  left: 0px !important;
}

.collapse :global(.ant-collapse-content-box) {
  padding: 0 !important;
}

.close {
  color: #ccc !important;
}
.close:hover {
  color: #000 !important;
}

.close :global(.anticon) {
  margin: 0 !important;
}
