.toolbar {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.resizeHandler {
  cursor: ns-resize;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.resizeHandler i {
  margin-right: 15px;
}
