.row {
  cursor: pointer;
}

.noImage :global(.ant-empty-image) {
  display: none;
}

.small :global(.ant-table-body) {
  margin: 0 !important;
}

.small :global(.ant-table-small) {
  border: 0 !important;
}

.small :global(.ant-table-thead>tr>th) {
  /* background-color: #fafafa !important; */
  padding: 8px !important;
}
