.table {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
  border: 0;

  font-size: 11px;
  font-weight: 400;
  overflow: auto;
}

.table :global(.ReactVirtualized__Grid__innerScrollContainer:focus) {
  outline: none;
}

.table :global(.ReactVirtualized__Table__headerRow) {
  color: dimgray;
  background-color: #ccd8e4;
  text-transform: initial !important;
}

.table :global(.ReactVirtualized__Table__headerColumn) {
  border-bottom: 1px solid transparent;
  background-color: #ccd8e4;
  border-left-color: rgba(0,0,0,.05);
  border-left: 1px solid rgba(0,0,0,.1);

  padding-right: 21px;
  padding: 2px 4px;

  display: flex;
  align-items: center;
}

.table :global(.ReactVirtualized__Table__headerColumn:first-child) {
  border-top-left-radius: 2px;
}

.table :global(.ReactVirtualized__Table__Grid) {

}

.table :global(.ReactVirtualized__Table__row) {

}

.table :global(.ReactVirtualized__Table__rowColumn) {
  padding: 2px 4px;

  color: dimgray;
  font-weight: 400;
  border-left: 1px solid rgba(0,0,0,.1);
}

.table :global(.ReactVirtualized__Table__row:nth-child(even)) {
  background-color: #fff;
}

.table :global(.ReactVirtualized__Table__row:nth-child(odd)) {
  background-color: #f6f8fa;
}

.table :global(.ReactVirtualized__Table__row:nth-child(even):hover),
.table :global(.ReactVirtualized__Table__row:nth-child(odd):hover) {
  background-color: #e6e6e6;
}

.headerColumn {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center
}

.minWidth {
  width: min-content;
}
