.item {
  background-color: #fff;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.closeButton {
  cursor: pointer;
}

.closeButton:hover {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}