.root {
  display: flex;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.sidebar {
  width: 300px;
  border-right: 1px solid #eee;
  overflow: auto;
}

.content {
  flex: 1;
  overflow: hidden;
}

.content :global(.ant-tabs-bar) {
  margin-bottom: 0;
}
