.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.formContainer {
  margin: auto;
  max-width: 400px;
  width: 80%;
}

.formHeader {
  font-family: arial;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 25px;
}

.formFooter {
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 160px;
}

.formItem :global(input),
.formItem :global(.ant-input-affix-wrapper) {
  border-radius: 32px;
  font-size: 14px;
}

.formItem {
  margin-bottom: 24px;
}

.formItem:global(.ant-form-item-with-help ) {
  margin-bottom: 5px;
}

.formItem :global(.ant-form-item-explain) {
  text-align: center;
  padding-top: 3px;
}
