.sider {
    position: 'fixed';
    left: 0;
    height: 100vh;
    overflow: auto;
    background-color: '#eee';
}

.sider .menuItem {
    width: auto !important;
    margin: 5px 10px;
    padding-left: 24px;
    color: rgba(0,0,0,0.9);
    border-radius: 5px;
}

.sider .ant-menu-item-selected {
    background-color: #eee !important;
}

.sider .ant-menu-item-selected::after {
    border: None;
}