{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier", "react-hooks"],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/forbid-prop-types": 0,
    "space-in-parens": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "space-infix-ops": ["error", { "int32Hint": false }],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}],
    "indent": [
        "error", 2,  # Google use 2-space indents
        # Google uses +4 space indents for line continuations.
        {
            "SwitchCase": 1,
            "MemberExpression": 2,
            "ObjectExpression": 1,
            "FunctionDeclaration": {
                "body": 1,
                "parameters": 2
            },
            "FunctionExpression": {
                "body": 1,
                "parameters": 2
            },
            "CallExpression": {
                "arguments": 1
            },
            # Ignore default rules for ternary expressions.
            "ignoredNodes": ["ConditionalExpression"]
        }
    ],
  },
}
